<div class="step">
    <div class="inner">
        stap<br>
        2/2
    </div>
</div>

<h2 class="align-center">Reminder instellen</h2>

<div class="group">
    <label>Dag:</label>
    <div class="item <% if @reminder.day isnt 'previous_day': %>selected<% end %> option-0">
        <div class="legend">Dag van ophaling</div>
        <div class="checkbox"></div>
    </div>

    <div class="item <% if @reminder.day is 'previous_day': %>selected<% end %> option-1">
        <div class="legend">1 dag voor ophaling</div>
        <div class="checkbox"></div>
    </div>
</div>

<div class="group">
    <label>Tijdstip:</label>
    <div class="item selected">
        <div class="legend time">&nbsp;
            <input class="timepicker" type="time" value="<%= @reminder.time ? '07:00:00' %>" />
        </div>
        
        <div class="pencil"></div>
    </div>
</div>

    <button class="next pull-right">Volgende</button>
</form>