<div class="step">
    <div class="inner">
        stap<br>
        1/1
    </div>
</div>

<h2 class="align-center">Bepaal jouw ophaalzone</h2>

<div>
    <div>
        <input type="text" class="zip-field" placeholder="Postcode" />
    </div>

    <div>
        <input type="text" class="street-button" placeholder="Straat" />
    </div>

    <div>
        <input type="text" class="nr-field" placeholder="Nr" />
    </div>
</div>

    <button class="next pull-right">Volgende</button>
</form>

<div id="street-search-modal" class="modal">
    <div class="searchbox">
        <input type="text" placeholder="Zoek je straat"/>
    </div>
    <div class="results"></div>
</div>