*
    -webkit-tap-highlight-color: rgba(0,0,0,0)
    -webkit-user-select: none

html
    height: 100%
    background-color: $desktop-background-color
    text-rendering: optimizeLegibility

body
    position: relative
    height: 100%
    width: 100%
    min-width: 300px
    margin: 0 auto
    font-family: $font-family
    font-size: $font-base-size
    color: $text-color


input, textarea
    font-family: $font-family
    font-size: 19px
    color: $input-font-color
    background: $white
    border: none
    display: block
    padding: 12px 11px 9px
    margin: 6px 0 15px
    +user-select(auto)
    +appearance(none)
    +border-radius(0)
    +box-sizing(border-box)
    text-align: left

button
    background-color: $green
    font-family: $font-family
    font-size: 18px
    color: $white
    +user-select(auto)
    +appearance(none)
    +border-radius(0)
    +box-sizing(border-box)
    border: none
    padding: 11px 14px 8px
    text-transform: uppercase

    &.next
        padding-right: 34px
        background-image: image-url('arrow@2x.png')
        background-position: right 10px center
        background-repeat: no-repeat
        background-size: 7px 12px

h2
    text-transform: uppercase
    margin-bottom: 30px

.align-left
    text-align: left
.align-right
    text-align: right
.align-center
    text-align: center
.pull-right
    float: right
    +clearfix

.navbar
    height: 43px
    background-color: $green
    position: relative

    .title
        padding-top: 2px
        color: $white
        font-family: AvenirBlack
        font-size: 25px
        text-align: center

        .trashrat-icon
            width: 45px
            height: 28px
            background-image: image-url('trashrat-icon.png')
            display: inline-block
            position: relative
            top: 5px

#app
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    overflow: hidden
    background-color: $background-color

body.desktop #app 
    max-width: 320px
    margin: 0 auto

#pageManager 
    position: absolute
    top: 43px
    right: 0
    bottom: 0
    left: 0
    overflow: hidden
    background-color: $background-color

.page 
    position: absolute
    top: 0
    bottom: 0
    left: 0
    min-width: 100%
    max-width: 100%
    overflow-x: hidden
    overflow-y: scroll
    -webkit-overflow-scrolling: touch
    overflow-scrolling: touch
    @include transition-duration(400ms)
    background-color: $background-color

    .contents 
        padding: 20px 40px
    

    .loader 
        position: absolute
        top: 50%
        left: 50%

.step
    background-image: image-url('zeshoek@2x.png')
    background-size: 74px 85px
    width: 74px
    height: 85px
    text-align: center
    font-size: 21px
    font-family: AvenirBlack
    text-transform: uppercase
    margin: 0 auto 30px
    .inner
        position: relative
        top: 25px

.modal
    position: absolute
    top: 0
    bottom: 0
    left: 0
    min-width: 100%
    max-width: 100%
    overflow-x: hidden
    overflow-y: scroll
    -webkit-overflow-scrolling: touch
    overflow-scrolling: touch
    @include transition-duration(400ms)
    background-color: $background-color
    display: none
    opacity: 0

.street.page
    .zip-field, .street-button
        width: 100%

    .nr-field
        width: 50px

    .next
        margin-top: 30px


    .searchbox
        display: block
        position: absolute
        top: 0
        left: 0
        right: 0
        z-index: 1
        padding: 8px 6px

    .results
        width: 100%
        margin-top: 50px
        .search-result, .no-results
            padding: 20px 10px
            border-bottom: 3px solid $shadow-color

        .no-results
            text-align: center
    
            




